@import 'node_modules/bootstrap/less/bootstrap';
@import 'node_modules/bootswatch/paper/variables';
@import 'node_modules/bootswatch/paper/bootswatch';

.navbar-brand .subtitle{
  position: absolute;
  font-size: small;
  color: desaturate(lighten(@brand-primary, 30%), 30%);
  margin-top: -5px;
}

